<div class="card ml-5">
  <div class="card-body">
    <%= reply.body %>
    <%= " Up votes: #{reply.up_votes}" %>
    <%= " Down votes: #{reply.down_votes}" %>
    <%= " Comment date: #{reply.send_date}" %>
  </div>
</div>